<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bip the Guy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F0D674B1E4632F5005B5DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F0D675F1E4632F6005B5DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F0D676A1E4632F6005B5DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
